#header{
    text-align: center;
    padding: 30px;
    background-color: #92979d;
    font-size: 30px;
}
ul{
    list-style: none;
    text-align: center;
}
ul li{
    list-style: none;
    display: inline-block;
    background-color: green;
    padding: 5px;
}
ul li a{
    text-decoration: none;
    text-align: center;
    padding :30px;
}

body{
    background-color: #ffe79a;
}
.form-header{
    font-size: 40px;
    color: green;
    text-align: center;
    font-weight: bold;
}
/*----------Expense form*/
input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.form-div{
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
    width: 60%;
    margin: 0px auto;

}
.expense-list{
    width: 40%;
    margin: 0 auto;
    background-color: #f2f2f2;
    border-radius: 5px;
    text-align: center;
    border-bottom: 1px #92979d inset;
}
.expense-item{
    white-space:pre-line;
}
